



body{
  color:white;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-family: 'Roboto', sans-serif;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px 20px;
}
.o{
  background-color: black;
}
.p{
  color: white;
}